In [1]:
import pandas as pd
import numpy as np

In [11]:
eco=pd.read_csv('./eco_list.csv')
eco

  eco
0  A1
1  E1
2  B1
3  C1
4  D1

In [9]:
lot=pd.read_csv('./lot_list.csv')
lot.head()

  root_lot_id     lot_id  wafer_id eco_num
0    ABC001.1   ABC001.1         1      A1
1    ABC001.1   ABC001.1         2      A1
2    ABC001.1   ABC001.1         3      A1
3    ABC001.1   ABC001.1         4      A1
4    ABC002.1  ABC002.J1         1      E1

In [19]:
lot[lot['eco_num'].isin(eco['eco'])]

   root_lot_id     lot_id  wafer_id eco_num
0     ABC001.1   ABC001.1         1      A1
1     ABC001.1   ABC001.1         2      A1
2     ABC001.1   ABC001.1         3      A1
3     ABC001.1   ABC001.1         4      A1
4     ABC002.1  ABC002.J1         1      E1
5     ABC002.1  ABC002.J1         2      E1
8     ABC003.1   ABC003.1         1      B1
9     ABC003.1   ABC003.1         2      B1
10    ABC003.1   ABC003.1         3      B1
11    ABC003.1   ABC003.1         4      B1
16    ABC005.1   ABC005.1         1      C1
17    ABC005.1   ABC005.1         2      C1
18    ABC005.1   ABC005.1         3      C1
19    ABC005.1   ABC005.1         4      C1
20    ABC006.1   ABC006.1         1      D1
21    ABC006.1   ABC006.1         2      D1
22    ABC006.1   ABC006.1         3      D1
23    ABC006.1   ABC006.1         4      D1